<!DOCTYPE HTML>
<html>
	<head>
		<title>Cirque Fitness App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/fitnessApp.css">
		<link rel="icon" href="images/logo.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Hello, <%= userName %></h1>
						<p id="quote"></p>
					</header>

				<!-- Main -->
					<main>

						<!-- Content -->
							<section id="content" class="main fitnessBody">
								<span class="image main"><img class="fitnessAppImg" src="images/trainingPlaceholderLarge.jpg" alt="" /></span>
								<section class="date">
									<form action="/fitnessApp/getUserDateEntries?_method=GET" method="post">
										<input id='date' name="userDate" type="date" value="<%= currentDateInput %>"/>
										<button type="submit">Set Date</button>
									</form>
								</section>
								<section class='exerciseList'>
									<% exercises.forEach( el => { %>
										<section class="exerciseControls" data-id="<%=el._id%>">
											<section class="exerciseTitle">
												<span class='exerciseName' title="<%= el.description%>"><%= el.name %></span>
											</section>
											<section class="setsAndReps">
												<form action="/fitnessApp/modSet<%= el._id %>?_method=PUT" method="post">
													<span class="sets">Sets: <%= el.sets %></span> 
													<input type="text" placeholder="# of Sets" name="userSets">
												<button type="submit">Submit</button>
												</form>
												<form action="/fitnessApp/modRep<%= el._id %>?_method=PUT" method="post">
													<span class="reps">Reps: <%= el.reps %></span>
													<input type="text" placeholder="# of Reps" name="userReps">
													<button type="submit">Submit</button>
												</form>
												<form action="/fitnessApp/modWeight<%= el._id %>?_method=PUT" method="post">
													<span class="weight">Weight: <%= el.weight %></span>
													<input type="text" placeholder="Amount of weight as a #" name="userWeight">
													<button type="submit">Submit</button>
												</form>
											</section>
											<section class="exerciseButtons">
												<form action="/fitnessApp/deleteExercise<%= el._id %>?_method=DELETE" method="post">
													<button type='submit' class="fa-solid fa-trash"></button>
												</form>
											</section>
										</section>
										<section class="extraActionPanel">
											<section class=notes>
												<form action="/fitnessApp/addNote<%= el._id %>?_method=PUT" method="post">
													<textarea name="notes" placeholder="Notes..."><%= el.notes %></textarea>
													<button type='submit' class='noteSubmit' href="">Submit</button>
												</form>
											</section>
										</section>
									<% }) %>    
								</section>
								<section class="timer">
									<span id="stopwatch">00:00:00</span>
									<i onclick=startStopwatch() class="fa-solid fa-play"></i>
									<i onclick=stopStopwatch() class="fa-solid fa-pause"></i>
									<i onclick=resetStopwatch() class="fa-solid fa-repeat"></i>
								</section>
								<section class="userExercise">
									<form action="/fitnessApp/createExercise/<% exercises.userId %>" method="post">
										<legend>Add your own Exercise:</legend>
										<input type="text" name="name" placeholder="Exercise Name">
										<input type="text" name="description" placeholder="Description">
										<button type="submit">Add Exercise</button>
									</form>
								</section>
								<ul class="appActions">
									<li><a onclick=showExerciseBank() href="#exerciseBank">Exercise Bank</a></li>
									<!-- <li><a href="#">Community Exercises</a></li> -->
									<li><a href="/">Log Out</a></li>
								</ul>
								<section id="exerciseBank" class="hidden">
									<section class="bankLeft">
										<ul id="bankList">
											<!-- Appending list via JS -->
										</ul>
									</section>
									<section class="bankInfo">
										<!-- All inputed via JS -->
											<h1 class="bankInfoExerciseTitle"></h1>
											<img class="bankImg" src="" alt="">
											<span class="muscleGroups"></span>
											<p class="bankInstructions"></p>
											<span><a class="youTubeLink" target='_blank' href=""></a></span>
										<form action="/fitnessApp/createExercise<% exercises.userId%>" method="post">
											<input type="hidden" name="name" id="bankName">
											<input type="hidden" name="description" id="bankDescription">
											<button type="submit" class='bankAddButton hidden' href="#">Add Exercise</button>
										</form>
									</section>	
								</section>
							</section>

						</main>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Ricky Barfield. Kanye quotes provided by <a href="https://kanye.rest/" target="_blank">Kanye West API</a></p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/fitnessApp.js"></script>
			<script src="https://kit.fontawesome.com/ab9f880f90.js" crossorigin="anonymous"></script>
	</body>
</html>