<!DOCTYPE HTML>
<html>
	<head>
		<title>Cirque Fitness App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/nomalize.css">
		<link rel="stylesheet" href="assets/css/fitnessApp.css">
		<link rel="icon" href="images/logo.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Hello, <%= userName %></h1>
						<p id="quote"></p>
					</header>

				<!-- Main -->
					<main>

						<!-- Content -->
							<section id="content" class="main fitnessBody">
								<span class="image main"><img class="fitnessAppImg" src="images/trainingPlaceholderLarge.jpg" alt="" /></span>
								<section class="date">
									<input type="date">
								</section>
								<ul class='exerciseList'>
									<% exercises.forEach( el => { %>
									<li>
										<ul class="exerciseControls" data-id="<%=el._id%>">
											<li><span class='exerciseName'><%= el.name %> ||</li>
											<li>
												<form action="/fitnessApp/addSet<%= el._id %>?_method=PUT" method="post">
													<span class="sets">Sets: <%= el.sets %></span> 
													<input type="text" placeholder="# of Sets">
													<button type="submit" class="fa-solid fa-plus"></button>
												</form>
												<form action="/fitnessApp/subSet<%= el._id %>?_method=PUT" method="post">
													<button type='submit' class="fa-solid fa-minus"></button></li><span>||</span>
												</form>
												<form action="/fitnessApp/addRep<%= el._id %>?_method=PUT" method="post">
													<span class="reps">Reps: <%= el.reps %></span>
													<input type="text" placeholder="# of Reps">
													<button type="submit" class="fa-solid fa-plus formButton"></button>
												</form>
												<form action="/fitnessApp/subRep<%= el._id %>?_method=PUT" method="post">
													<button type="submit" class="fa-solid fa-minus"></button><span>||</span>
												</form>
											
											<li>
												<i class="fa-solid fa-stopwatch"></i>
												<i class="fa-solid fa-note-sticky"></i>
												<form action="/fitnessApp/deleteExercise<%= el._id %>?_method=DELETE" method="post">
													<button type='submit' class="fa-solid fa-trash"></button>
												</form>
											</li>
								</ul>
										<ul class="hidden extraActions">
											<li class="timer hidden"><span>00:00</span><i class="fa-solid fa-play"></i><i class="fa-solid fa-pause"></i></li>
											<li class="notes hidden">
												<textarea name="notes" id=""></textarea>
												<a class='button noteSubmit' href="">Submit</a>
											</li>
										</ul>
										<% }) %>   
									</li> 
								</ul>
								<ul class="appActions">
									<li><a href="#" class="button">Exercise Bank</a></li>
									<li><a href="#" class="button">Custom Exercise</a></li>
									<li><a href="#" class="button">Community Exercises</a></li>
									<li><a href="/" class="logOut button">Log Out</a></li>
								</ul>
								<section class="moreHiddenInfo">
									<!-- Hidden Instructions -->
									<section class="userExercise">
										<form action="/fitnessApp/createExercise/<% exercises.userId %>" method="post">
											<input type="text" name="name" placeholder="Exercise Name">
											<input type="text" name="description" placeholder="Description">
											<input class="button" type="submit"></input>
										</form>
									</section>
									<p class="instructions"></p>
									<p class="">.</p>
								</section>
							</section>

						</main>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Ricky Barfield. Design: <a target="_blank" href="https://html5up.net">HTML5 UP</a>. Kanye quotes provided by <a href="https://kanye.rest/" target="_blank">Kanye West API</a></p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/fitnessApp.js"></script>
			<script src="https://kit.fontawesome.com/ab9f880f90.js" crossorigin="anonymous"></script>
	</body>
</html>